<script setup lang="ts">
import FrameworkPop from '@/components/FrameworkPop.vue';

const frameList = [
  {name: "VueJS" , img:"https://w7.pngwing.com/pngs/595/279/png-transparent-vue-js-javascript-library-angularjs-react-vue-js-template-angle-text-thumbnail.png" ,rating : 10,},
  {name: "AngularJS" , img:"https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" ,rating : 20,},
  {name: "ReactJS" , img:"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png?20220125121207" ,rating : 99,}
]
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item,index) of frameList" :key="index">
        <FrameworkPop 
        :name="item.name" 
        :img="item.img" 
        :rating="item.rating">
        </FrameworkPop>
      </v-col>
    </v-row>
  </v-container>

</template>